In [1]:
#Importation des packages
import re
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [2]:
#Récupération des données
teams = pd.read_html('https://en.wikipedia.org/wiki/2018_FIFA_World_Cup_squads', header=0)

In [3]:
#Taille des données
print(len(teams))

39

In [4]:

teams = teams[:32]
r = requests.get('https://en.wikipedia.org/wiki/2018_FIFA_World_Cup_squads')
soup = BeautifulSoup(r.text, 'html.parser')

In [5]:
#Extraction des drapeaux

for i, table in enumerate(soup.find_all('table')):
    j = 0
    arr = np.empty(23, dtype='object')
    for tag in table.find_all('span', {"class": "flagicon"}):
        if tag.a is None:
            continue
        arr[j] = tag.img['alt']
        j += 1
    teams[i]["Country"] = arr
    if i == 31:
        break

In [6]:
#Extraction des noms d'équipes

i = 0
arr = np.empty(32, dtype='object')
for tag in soup.find_all("h3"):
    for t in tag.find_all("span", {"class": "mw-headline"}):
        arr[i] = t.text
        i += 1
    if i == 32:
        break
for team, team_df in zip(arr, teams):
    team_df["Team"] = team
df = pd.concat(teams)

In [7]:
df.sample(5)

,No.,Pos.,Player,Date of birth (age),Caps,Goals,Club,Country,Team
22,23,DF,Felipe Baloy (captain),NaN,102,3,Municipal,Guatemala,Panama
19,20,FW,Edison Flores,NaN,29,9,AaB,Denmark,Peru
15,16,MF,Nordin Amrabat,NaN,44,4,Leganés,Spain,Morocco
8,9,FW,Raúl Jiménez,NaN,63,13,Benfica,Portugal,Mexico
15,16,DF,Aziz Behich,NaN,23,2,Bursaspor,Turkey,Australia

In [11]:
df.to_csv("squads.csv", encoding='utf-8')